<a href="https://colab.research.google.com/github/Luweeeejay/CPEN-21-ECE--2-/blob/main/Loop%20Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
 print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [7]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
 print(x)
 if x=="Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [10]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
 if x=="Thursday":
   break
print(x)

Thursday

##Loop Statement

In [13]:
for x in "Friday":
  print(x)

F
r
i
d
a
y

##The range() Function

In [14]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [17]:
for x in range(2,7):
  print(x)

2
3
4
5
6

##Nested Loops

In [18]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While loop

In [22]:
i=1
while i<6:
  print(i)
  i+=1  #Assignment operator for addition

1
2
3
4
5

The break statement

In [23]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1  #Assigment operator for addition

1
2
3

The continue Statement

In [24]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [25]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [26]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically

hello = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [27]:
#Create a Python program that displays integers less than 10 but not less tha 3

for x in range(3,10):
  print(x)

3
4
5
6
7
8
9